/*******************************

        SATOKO'S ADDITION (please show where you made changes next time so that I can find the style changes quicker and work faster!!! Thanks! -Daren)

*******************************/

@font-face {
    font-family:'ave';
    src: url('../fonts/AvenirLTStd-Light.otf');
}
 /* satoko added font I wanna change P tags font to it*/
@font-face {
    font-family:'avel';
    src: url('../fonts/AvenirNext-UltraLight.ttf');
}

.article {
    font-family:"ave";
	color: white;
	text-decoration:none;
	letter-spacing: 1px;
    margin-top: -18px;
}

.fontfooter {font-family:"ave";
	color: black;
	text-decoration:none;
	letter-spacing: 1px;
	font-size: 12pt;
}

footer > .address {
    float: left;
    padding-top: 20px;
    padding-left: 30px;
}

aside img {
    margin-right: 15px;
}

.pt {
    font-size: 16pt;
}

div.logomenu {
    float: justify;
    height: 100%;
    width: 100%;
}

footer {
    position: relative;
    overflow: hidden;
    bottom: 0px;
    width: 100%;
    height: 140px;
    
    /*padding-left: 30px;*/
}

footer > aside {
    float: right;
    padding-top: 40pt;
    padding-right: 40pt;
}

/********************

        END OF SATOKO'S ADDITION

        Note changes to:
            logomenu
            footer
                    ***DONE

        Remove: footer > p
                footer
                logomenu
                footer > aside

*********************/

body {
    margin: 0 0 0 0;
overflow-x: hidden;
}

#workflowleft {
    float: left;
    width: 35%;
    height: 913px;
    
    /*** quick fix? ***/
    margin-bottom: 80px;
}

#workflow {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 56pt;
    
    padding-top: 30pt;
    padding-bottom: 30pt;
    padding-left: 10pt;
    
    background-color: #949494;
    background-image: url("../images/workflow_bg.jpg");
    background-size: 1600px 1066px;
    background-position: 60% 50%;
    background-repeat: no-repeat;
}

#workflow > p {
    font-size: 45pt;
    top: 50%;
    left: 6%;
    position: absolute;
}

#stepsright {
    float: left;
    width: 65%;
    height: 901px;
}

#stepsright span {
    font-size: 16pt;
    /*margin-left: 15pt;*/
}

#stepimages {
    float: left;
    width: 100%;
    height: 198.6px;
    background-repeat: no-repeat;
}

#imgright {
    float: right;
    width: 250px;
    height: 100%;
}

#stepdescription {
    font-family: 'avel';
    font-size: 16pt;
}

#stepone {
    float: left;
    width: calc(100% - 250px);
    height: 198.6px;
    font-size: 24pt;
    
    /*padding-top: 50pt;
    padding-bottom: 51px;
    padding-left: 10pt;*/
    
    background-color: #5fb172;
    display: block;
}

#stepone > p {    
    margin-top: 16pt;
    margin-left: 16pt;
    margin-bottom: 0pt;
    margin-right: 20pt;
}

#steptwo {
    float: left;
    width: calc(100% - 250px);
    height: 198.6px;
    font-size: 24pt;
    
    /*padding-top: 50pt;
    padding-bottom: 38pt;
    padding-left: 10pt;*/
    
    background-color: #dead77;
}

#steptwo > p {
    margin-top: 16pt;
    margin-left: 16pt;
    margin-bottom: 0pt;
    margin-right: 20pt;
}

#stepthree {
    float: left;
    width: calc(100% - 250px);
    height: 198.6px;
    font-size: 24pt;
    
    /*padding-top: 50pt;
    padding-bottom: 38pt;
    padding-left: 10pt;*/
    
    background-color: #ae95c7;
}

#stepthree > p {
    margin-top: 16pt;
    margin-left: 16pt;
    margin-bottom: 0pt;
    margin-right: 20pt;
}

#stepfour {
    float: left;
    width: calc(100% - 250px);
    height: 198.6px;
    font-size: 24pt;
    
    /*padding-top: 50pt;
    padding-bottom: 38pt;
    padding-left: 10pt;*/
    
    background-color: #6eb3cf;
}

#stepfour > p {
    margin-top: 16pt;
    margin-left: 16pt;
    margin-bottom: 0pt;
    margin-right: 20pt;
}

#stepfive {
    float: left;
    width: calc(100% - 250px);
    height: 198.6px;
    font-size: 24pt;
    
    /*padding-top: 50pt;
    padding-bottom: 39px;
    padding-left: 10pt;*/
    
    background-color: #c0b1a8;
}

#stepfive > p {
    margin-top: 16pt;
    margin-left: 16pt;
    margin-bottom: 0pt;
    margin-right: 20pt;
}

/**********************

    HAMBURGER SIDEBAR

**********************/

#mySidenav {
    opacity: 0.75;
}

.sidenav {
    height: 993px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: -89px;
    right: 0;
    background-color: #ededed;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 231px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #8e8d8d;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: -35px;
    font-size: 36px;
    margin-left: 50px;
}

#mySidenav a {
    margin-bottom: 30pt;
    font-size: 26pt;
    text-align: right;
    margin-right: 30pt;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* satoko media query*/
@media only screen and (max-device-width: 415px) {
    
    #workflowleft {
        width: 100%;
        height: 80px;
    }
    #workflow {
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: 80% ;
width:97%;
    }
    #workflow > p {
        top: 160px;
        font-size: 28pt;
    }
    #stepsright {
        width: 100%;
    }
    #stepone {
        width: 60%;
    }
    #steptwo {
        width: 60%;
    }
    #stepthree {
        width: 60%;
    }
    #stepfour {
        width: 60%;
    }
    #stepfive {
        width: 60%;
    }
    #stepdescription {
    font-size: 10pt;
    font-family:"avel";
    }
    
    #stepone > p {
        margin-top: 10pt;
        margin-left: 15pt;
        margin-bottom: 0pt;
        margin-right: 20pt;
    }
    #steptwo > p {
        margin-top: 10pt;
        margin-left: 15pt;
        margin-bottom: 0pt;
        margin-right: 20pt;
    }
    
    #stepthree > p {
        margin-top: 10pt;
        margin-left: 15pt;
        margin-bottom: 0pt;
        margin-right: 20pt;
    }
    
    #stepfour > p {
        margin-top: 10pt;
        margin-left: 15pt;
        margin-bottom: 0pt;
        margin-right: 20pt;
    }
    
    #stepfive > p {
        margin-top: 10pt;
        margin-left: 15pt;
        margin-bottom: 0pt;
        margin-right: 20pt;
    }
    #stepsright span {
        line-height: 20px;
    }
    
    
    #imgright {
        float: right;
        width: 40%;
        height: 100%;
    }
    #stepimages {
    float: left;
    width: auto;
    height: 198.6px;
    background-size: 80%;
}
    #address {
        float: clear;
        width: 100%;
    }
    footer {
         position: auto;
         overflow: auto;
         bottom: 0px;
         width: 100%;
         height: auto;
    }
    footer > aside {
        float: left;
        padding-top: 10px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    footer > .address {
        padding-top: 120px;
    }
}

@media screen and (max-width: 415px) {
    
    #workflowleft {
        width: 100%;
        height: 80px;
    }
    #workflow {
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: 80% ;
    }
    #workflow > p {
        top: 160px;
        font-size: 28pt;
    }
    #stepsright {
        width: 100%;
    }
    #stepone {
        width: 60%;
    }
    #steptwo {
        width: 60%;
    }
    #stepthree {
        width: 60%;
    }
    #stepfour {
        width: 60%;
    }
    #stepfive {
        width: 60%;
    }
    #stepdescription {
    font-size: 10pt;
    font-family:"avel";
    }
    
    #stepone > p {
        margin-top: 10pt;
        margin-left: 15pt;
        margin-bottom: 0pt;
        margin-right: 20pt;
    }
    #steptwo > p {
        margin-top: 10pt;
        margin-left: 15pt;
        margin-bottom: 0pt;
        margin-right: 20pt;
    }
    
    #stepthree > p {
        margin-top: 10pt;
        margin-left: 15pt;
        margin-bottom: 0pt;
        margin-right: 20pt;
    }
    
    #stepfour > p {
        margin-top: 10pt;
        margin-left: 15pt;
        margin-bottom: 0pt;
        margin-right: 20pt;
    }
    
    #stepfive > p {
        margin-top: 10pt;
        margin-left: 15pt;
        margin-bottom: 0pt;
        margin-right: 20pt;
    }
    #stepsright span {
        line-height: 20px;
    }
    
    
    #imgright {
        float: right;
        width: 40%;
        height: 100%;
    }
    #stepimages {
    float: left;
    width: auto;
    height: 198.6px;
    background-size: 80%;
}
    #address {
        float: clear;
        width: 100%;
    }
    footer {
         position: auto;
         overflow: auto;
         bottom: 0px;
         width: 100%;
         height: auto;
    }
    footer > aside {
        float: left;
        padding-top: 10px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    footer > .address {
        padding-top: 120px;
    }
}

/************

            ANIMATED HAMBURGER, FRIES, AND DRINK

*************/

#nav-toggle { 
    position: absolute; 
    right: 32pt; 
    top: 45pt; 
}
#nav-toggle { 
    cursor: pointer; 
    padding: 10px 35px 16px 0px; 
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: black;
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -10px; 
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}